img {
    width: 45px;
    height: 45px;
}

.correct {
    background-color: red;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.halfCorrect {
    background-color: yellow;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.notCorrect {
    background-color: lightgray;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}